<<<<<<< HEAD
header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
  }
=======
header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
  }
>>>>>>> 45ca9ba (brands)
  